<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="css/theme.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a id="red" href="/" class="nav-link">
          <span class="link-text logo-text">Secrets</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="m14.99992,179.34469c0,91.31672 73.56533,165.34281 164.31251,165.34281c10.47492,0 20.71645,-0.9977 30.64708,-2.88318l22.41745,25.37839a-22.40532,22.54594 0 0 1 16.74681,7.5673l34.75116,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l37.34375,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l104.56251,0c12.37479,0 22.40625,-10.09442 22.40625,-22.54688l0,-73.33277c0,-5.97962 -2.36106,-11.71498 -6.56223,-15.94346l-151.05735,-152.0054c5.34296,-16.30327 8.24457,-33.72355 8.24457,-51.82775c0,-91.31672 -73.56439,-165.34281 -164.31158,-165.34375c-91.01513,-0.00094 -164.31344,73.75741 -164.31344,165.34469zm164.31251,-45.09469c0,24.9049 -20.06293,45.09375 -44.8125,45.09375s-44.8125,-20.18885 -44.8125,-45.09375s20.06293,-45.09375 44.8125,-45.09375s44.8125,20.18885 44.8125,45.09375z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>

<!-- home -->
      <li class="nav-item">
        <a href="secrets" class="nav-link">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="home"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <g class="fa-group">

              <path
                fill="currentColor"
                d="m247.75062,132.64149l-187.25054,174.56228l0,188.40311a16.24998,18.39313 0 0 0 16.24998,18.39313l113.81079,-0.33338a16.24998,18.39313 0 0 0 16.16873,-18.39313l0,-110.02539a16.24998,18.39313 0 0 1 16.24998,-18.39313l64.99992,0a16.24998,18.39313 0 0 1 16.24998,18.39313l0,109.94492a16.24998,18.39313 0 0 0 16.24998,18.45061l113.77016,0.35637a16.24998,18.39313 0 0 0 16.24998,-18.39313l0,-188.52956l-187.20991,-174.43582a12.38045,14.01326 0 0 0 -15.53904,0zm295.78008,118.64717l-84.90614,-79.2169l0,-159.22701a12.18748,13.79485 0 0 0 -12.18748,-13.79485l-56.87493,0a12.18748,13.79485 0 0 0 -12.18748,13.79485l0,83.47031l-90.92879,-84.67736a48.74994,55.17938 0 0 0 -61.95304,0l-257.08482,239.65096a12.18748,13.79485 0 0 0 -1.625,19.42774l25.8984,35.63668a12.18748,13.79485 0 0 0 17.1742,1.8738l238.895,-222.71778a12.38045,14.01326 0 0 1 15.53904,0l238.90516,222.71778a12.18748,13.79485 0 0 0 17.16404,-1.83931l25.8984,-35.63668a12.18748,13.79485 0 0 0 -1.72656,-19.46223z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <span class="link-text">Home</span>
        </a>
      </li>

<!-- mysecrets -->
      <li class="nav-item">
        <a href="mysecrets" class="nav-link">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="user"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="m438.59975,313.71923l27.36763,-63.70042c4.58036,-10.68458 -4.23683,-22.08146 -17.17634,-22.08146l-66.98772,0c12.59598,-19.23224 20.38259,-41.31369 20.38259,-65.12503l0,-0.30527c44.8875,-7.93711 73.28571,-19.43575 73.28571,-32.25724c0,-13.5338 -31.26094,-25.54122 -80.27076,-33.58009c-10.53482,-33.37658 -30.91741,-66.95667 -46.49062,-84.25551c-10.87835,-12.10919 -29.65781,-15.87423 -45.23103,-8.95469l-31.60446,14.04258c-10.3058,4.5791 -22.44375,4.5791 -32.74955,0l-31.60446,-14.04258c-15.57321,-6.91953 -34.35268,-3.15449 -45.23103,8.95469c-15.45871,17.29884 -35.9558,50.87893 -46.49062,84.25551c-48.89531,8.03887 -80.15625,20.0463 -80.15625,33.58009c0,12.82149 28.39821,24.32013 73.28571,32.25724l0,0.30527c0,23.81134 7.78661,45.89279 20.38259,65.12503l-65.84263,0c-13.16853,0 -21.98571,11.90567 -16.83281,22.692l29.5433,61.25823c-45.91808,23.70958 -77.17902,67.3637 -77.17902,117.93736l0,45.58752c0,25.13419 23.01629,45.58752 51.3,45.58752l410.39999,0c28.2837,0 51.3,-20.45333 51.3,-45.58752l0,-45.58752c0,-49.2508 -29.5433,-91.98911 -73.40022,-116.10572zm-238.06406,174.71825l-47.63571,-195.37509l56.79643,32.56252l27.48214,40.70314l-36.64286,122.10943zm109.92857,0l-36.64286,-122.10943l27.48214,-40.70314l56.79643,-32.56252l-47.63571,195.37509zm47.75022,-303.74721c-4.46585,12.10919 -8.01562,25.03243 -18.89397,33.98713c-11.5654,9.46348 -54.96428,22.79376 -73.28571,-25.43947c-3.20625,-8.54766 -17.63437,-8.54766 -20.95513,0c-19.46652,51.08245 -64.125,32.96955 -73.28571,25.43947c-10.87835,-8.95469 -14.54263,-21.87794 -18.89397,-33.98713c-0.91607,-2.54395 -7.21406,-5.8002 -7.21406,-5.90196l0,-10.98985c32.40603,3.66328 69.85045,5.90196 109.92857,5.90196s77.52254,-2.13692 109.92857,-5.90196l0,10.98985c-0.11451,0.10176 -6.4125,3.25625 -7.32857,5.90196z"
                class="fa-primary"
              ></path>

            </g>
          </svg>
          <span class="link-text">MySecrets</span>
        </a>
      </li>

<!-- login -->
      <li class="nav-item">
        <a href="login" class="nav-link">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="sign-ou"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="m416.3125,458.22043l-85.47656,0c-6.71602,0 -12.21094,-5.92341 -12.21094,-13.16314l0,-43.87713c0,-7.23973 5.49492,-13.16314 12.21094,-13.16314l85.47656,0c18.01113,0 32.5625,-15.68607 32.5625,-35.1017l0,-210.61021c0,-19.41563 -14.55137,-35.1017 -32.5625,-35.1017l-85.47656,0c-6.71602,0 -12.21094,-5.92341 -12.21094,-13.16314l0,-43.87713c0,-7.23973 5.49492,-13.16314 12.21094,-13.16314l85.47656,0c53.93164,0 97.6875,47.16791 97.6875,105.3051l0,210.61021c0,58.13719 -43.75586,105.3051 -97.6875,105.3051zm-47.82617,-220.48256l-170.95312,-184.28393c-15.26367,-16.45392 -41.7207,-4.93618 -41.7207,18.64778l0,105.3051l-138.39062,0c-13.53379,0 -24.42187,11.73713 -24.42187,26.32628l0,105.3051c0,14.58914 10.88809,26.32628 24.42187,26.32628l138.39062,0l0,105.3051c0,23.58396 26.45703,35.1017 41.7207,18.64778l170.95312,-184.28393c9.46348,-10.31112 9.46348,-26.98443 0,-37.29556z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <span class="link-text">Login</span>
        </a>
      </li>

<!-- register -->
      <li class="nav-item">
        <a href="register" class="nav-link">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="register"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="m500.07501,211.53127l-51.70001,0l0,-58.625c0,-8.06094 -5.81625,-14.65625 -12.925,-14.65625l-25.85,0c-7.10875,0 -12.925,6.59531 -12.925,14.65625l0,58.625l-51.70001,0c-7.10875,0 -12.925,6.59531 -12.925,14.65625l0,29.3125c0,8.06094 5.81625,14.65625 12.925,14.65625l51.70001,0l0,58.625c0,8.06094 5.81625,14.65625 12.925,14.65625l25.85,0c7.10875,0 12.925,-6.59531 12.925,-14.65625l0,-58.625l51.70001,0c7.10875,0 12.925,-6.59531 12.925,-14.65625l0,-29.3125c0,-8.06094 -5.81625,-14.65625 -12.925,-14.65625zm-323.12503,43.96875c57.11235,0 103.40001,-52.48769 103.40001,-117.25s-46.28766,-117.25 -103.40001,-117.25s-103.40001,52.48769 -103.40001,117.25s46.28766,117.25 103.40001,117.25zm72.38001,29.3125l-13.49047,0c-17.93344,9.34336 -37.88641,14.65625 -58.88954,14.65625s-40.87532,-5.31289 -58.88954,-14.65625l-13.49047,0c-59.93969,0 -108.57001,55.14414 -108.57001,123.1125l0,38.10625c0,24.27441 17.36797,43.96875 38.775,43.96875l284.35003,0c21.40703,0 38.775,-19.69434 38.775,-43.96875l0,-38.10625c0,-67.96836 -48.63032,-123.1125 -108.57001,-123.1125z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <span class="link-text">Register</span>
        </a>
      </li>

<!-- log-out     -->
  <li class="nav-item">
    <a href="logout" class="nav-link">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="sign-ou"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
      >
        <g class="fa-group">
          <path
            fill="currentColor"
            d="m501.9308,306.83107l-169.66675,195.99534c-15.14882,17.49958 -41.40677,5.24988 -41.40677,-19.83286l0,-111.99734l-137.34927,0c-13.43195,0 -24.23811,-12.48304 -24.23811,-27.99933l0,-111.99734c0,-15.5163 10.80616,-27.99933 24.23811,-27.99933l137.34927,0l0,-111.99734c0,-24.96607 26.15696,-37.33245 41.40677,-19.83286l169.66675,195.99534c9.39227,10.96641 9.39227,28.69932 0,39.66572zm-308.02594,190.16214l0,-46.66556c0,-7.69982 -5.45357,-13.99967 -12.11905,-13.99967l-84.83337,0c-17.8756,0 -32.31748,-16.68294 -32.31748,-37.33245l0,-223.99467c0,-20.64951 14.44187,-37.33245 32.31748,-37.33245l84.83337,0c6.66548,0 12.11905,-6.29985 12.11905,-13.99967l0,-46.66556c0,-7.69982 -5.45357,-13.99967 -12.11905,-13.99967l-84.83337,0c-53.52582,0 -96.95243,50.16547 -96.95243,111.99734l0,223.99467c0,61.83186 43.42661,111.99734 96.95243,111.99734l84.83337,0c6.66548,0 12.11905,-6.29985 12.11905,-13.99967z"
            class="fa-primary"
          ></path>
        </g>
      </svg>
      <span class="link-text">Log out</span>
    </a>
  </li>

<!-- delete -->
  <li class="nav-item">
    <a href="delete" class="nav-link">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="sign-ou"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
      >
        <g class="fa-group">
          <path
            fill="currentColor"
            d="m506.07577,452.94218l-215.92764,-206.52187c39.60662,-17.325 68.15838,-63.49219 68.15838,-118.42031c0,-69.59531 -45.57147,-126 -101.80014,-126c-53.36554,0 -96.6306,50.99062 -100.9253,115.56562l-117.38829,-112.21875c-5.5672,-5.31562 -13.52033,-4.13437 -17.89456,2.75625l-15.58815,24.80625c-4.29469,6.89062 -3.34032,16.73437 2.22688,22.05l467.96252,447.59531c5.5672,5.31562 13.52033,4.13437 17.89456,-2.75625l15.58815,-24.90469c4.29469,-6.69375 3.26079,-16.63594 -2.30641,-21.95156zm-427.71965,-35.14219l0,40.95c0,26.08594 17.09924,47.25 38.17505,47.25l278.51882,0l-228.09594,-218.23593c-50.26382,10.82812 -88.59793,64.67344 -88.59793,130.03594z"
            class="fa-primary"
          ></path>
        </g>
      </svg>
      <span class="link-text">Delete</span>
    </a>
  </li>

<!-- theme button -->
      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <svg
            class="theme-icon"
            id="lightIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="moon-stars"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
                class="fa-primary"
              ></path>
              <path
                fill="currentColor"
                d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <svg
            class="theme-icon"
            id="solarIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="sun"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-sun fa-w-16 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M502.42 240.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.41-94.8a17.31 17.31 0 0 0-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4a17.31 17.31 0 0 0 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.41-33.5 47.3 94.7a17.31 17.31 0 0 0 31 0l47.31-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3a17.33 17.33 0 0 0 .2-31.1zm-155.9 106c-49.91 49.9-131.11 49.9-181 0a128.13 128.13 0 0 1 0-181c49.9-49.9 131.1-49.9 181 0a128.13 128.13 0 0 1 0 181z"
                class="fa-primary"
              ></path>
              <path
                fill="currentColor"
                d="M352 256a96 96 0 1 1-96-96 96.15 96.15 0 0 1 96 96z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <svg
            class="theme-icon"
            id="darkIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="sunglasses"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline--fa fa-sunglasses fa-w-18 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M574.09 280.38L528.75 98.66a87.94 87.94 0 0 0-113.19-62.14l-15.25 5.08a16 16 0 0 0-10.12 20.25L395.25 77a16 16 0 0 0 20.22 10.13l13.19-4.39c10.87-3.63 23-3.57 33.15 1.73a39.59 39.59 0 0 1 20.38 25.81l38.47 153.83a276.7 276.7 0 0 0-81.22-12.47c-34.75 0-74 7-114.85 26.75h-73.18c-40.85-19.75-80.07-26.75-114.85-26.75a276.75 276.75 0 0 0-81.22 12.45l38.47-153.8a39.61 39.61 0 0 1 20.38-25.82c10.15-5.29 22.28-5.34 33.15-1.73l13.16 4.39A16 16 0 0 0 180.75 77l5.06-15.19a16 16 0 0 0-10.12-20.21l-15.25-5.08A87.95 87.95 0 0 0 47.25 98.65L1.91 280.38A75.35 75.35 0 0 0 0 295.86v70.25C0 429 51.59 480 115.19 480h37.12c60.28 0 110.38-45.94 114.88-105.37l2.93-38.63h35.76l2.93 38.63c4.5 59.43 54.6 105.37 114.88 105.37h37.12C524.41 480 576 429 576 366.13v-70.25a62.67 62.67 0 0 0-1.91-15.5zM203.38 369.8c-2 25.9-24.41 46.2-51.07 46.2h-37.12C87 416 64 393.63 64 366.11v-37.55a217.35 217.35 0 0 1 72.59-12.9 196.51 196.51 0 0 1 69.91 12.9zM512 366.13c0 27.5-23 49.87-51.19 49.87h-37.12c-26.69 0-49.1-20.3-51.07-46.2l-3.12-41.24a196.55 196.55 0 0 1 69.94-12.9A217.41 217.41 0 0 1 512 328.58z"
                class="fa-primary"
              ></path>
              <path
                fill="currentColor"
                d="M64.19 367.9c0-.61-.19-1.18-.19-1.8 0 27.53 23 49.9 51.19 49.9h37.12c26.66 0 49.1-20.3 51.07-46.2l3.12-41.24c-14-5.29-28.31-8.38-42.78-10.42zm404-50l-95.83 47.91.3 4c2 25.9 24.38 46.2 51.07 46.2h37.12C489 416 512 393.63 512 366.13v-37.55a227.76 227.76 0 0 0-43.85-10.66z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <span class="link-text">Themify</span>
        </a>
      </li>
    </ul>
  </nav>

  <body>
