<%- include('partials/header') %>

<div class="container">
  <div class="main-content">

    <div class="headline-container">
      <h1><i class="fas fa-file-contract fa-primary"></i> About</h1>
    </div>

    <div class="content-container about">
      <p>Hi there 👋 </p>
      <p>This project was part of my Web Development studies. The original application was pretty barebone and as I liked the idea I took it further and further making it more and more complicated, but also more useful.</p>
      <p>The subject of the studies was around security and how passwords and other sensitive informations can be and/or should be stored in a database. It's hard to say what is happening on the backend and if your passwords are stored safely.
        Most places use encryption, but the level of encryption can vary. Encryptions are not made equal at all, some of them actually can be pretty vulnarable. A mondern GPU can try billions of combinations in 1 second! There are a few way to make the search for the encryption key a struggle,
        won't go into details, bcus it's the "About" page and not the "How to bore myself to sleep" page.
      <p>The main thing to know is that although the way this page stores your data is pretty safe (hashing and salting), it is still not as safe as Facebook or Google handles infos on their databases. It's a good idea to use their login buttons as they authenticate you on
        their end and instead of passing over a password to a website they just send a token saying it's ok or not ok. Basically you login to Gmail and Gmail sends the website and ok signal on my end with your googleId. Obviously, you need to consider here that they do
        not necessarily supply an app or a webpage only with a token. They can send a shittons of information about the user if it's required and profitable for them to do so. One hand it's keep you safe to log in with them because they are the most
        advanced in tech but at the same time they might send other info to the app if needed. Find it in the small letters what certain apps try to access.. </p>
      <p>Your information is value and business! For this project they only send me a token which says you are authenticated or not and your google or facebook id nothing more. The reason is because I didn't request it as it wouldn't fit the purpose
        of this app, but as you can log in to Tinder through Facebook your profile is pretty much set up after the first login already. Name, dob, pictures, interests are all pushed on to the app without actually you doing anything. Less hassle i
        guess, the new world order.
      <p>The other interesting part of this app is the session cookie it uses. You log in whichever way you like it creates a cookie on your end saying that you are logged in. If you go to whatever page you like and come back,you remain logged in as
        the cookie is stored on your browser and say that you are authenticated. Once you close the browser or you log out, this cookie will exist no more and you need to log in again.</p>
      <p>I hope you found it interesting, I did!</p>
      <p>If you would like to read on what challanges been involved completing this project, click the more button or feel free to hit me up! I warn you it will be a dry entertaiment.🥱</p>

      <div class="button-container">
        <button class="button" type="button" name="button" onclick="homeButtonTimeoutFunction()"> home
          <div class="svg-sizing">
            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <g class="fa-group">
                <path fill="currentColor"
                  d="m14.99992,179.34469c0,91.31672 73.56533,165.34281 164.31251,165.34281c10.47492,0 20.71645,-0.9977 30.64708,-2.88318l22.41745,25.37839a-22.40532,22.54594 0 0 1 16.74681,7.5673l34.75116,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l37.34375,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l104.56251,0c12.37479,0 22.40625,-10.09442 22.40625,-22.54688l0,-73.33277c0,-5.97962 -2.36106,-11.71498 -6.56223,-15.94346l-151.05735,-152.0054c5.34296,-16.30327 8.24457,-33.72355 8.24457,-51.82775c0,-91.31672 -73.56439,-165.34281 -164.31158,-165.34375c-91.01513,-0.00094 -164.31344,73.75741 -164.31344,165.34469zm164.31251,-45.09469c0,24.9049 -20.06293,45.09375 -44.8125,45.09375s-44.8125,-20.18885 -44.8125,-45.09375s20.06293,-45.09375 44.8125,-45.09375s44.8125,20.18885 44.8125,45.09375z"
                  class="fa-primary"></path>
              </g>
            </svg>
          </div>
        </button>
        <button class="button" type="button" name="button" onclick="contactButtonTimeoutFunction()"> contact
          <div class="svg-sizing">
            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <g class="fa-group">
                <path fill="currentColor"
                  d="m193.55023,424.14c-2.6171,-5.92 -7.17707,-6.52 -9.02235,-6.52s-6.40525,0.59 -8.88928,6.19l-6.80447,15.34c-5.65117,12.78 -22.20545,11.37 -26.15328,-2.09l-14.93079,-50.47l-9.4127,31.88c-5.22533,17.66 -19.85449,29.53 -36.37328,29.53l-10.99183,0c-7.84243,0 -14.19445,-7.16 -14.19445,-16s6.35202,-16 14.19445,-16l10.99183,0c4.28495,0 8.08197,-3.08 9.43931,-7.66l16.13732,-54.64c2.92761,-9.81 11.03619,-16.41 20.20935,-16.41s17.28175,6.59 20.20048,16.41l12.31369,41.64c17.52128,-16.19 47.95951,-9.7 58.55212,14.16c1.67672,3.78 4.87047,5.95 8.30375,6.26l0,-82.12l113.55562,-127.09l0,-46.55l-120.66172,0c-11.71042,0 -21.29168,-10.8 -21.29168,-24l0,-136l-177.43065,0c-11.79914,0 -21.29168,10.7 -21.29168,24l0,464c0,13.3 9.49254,24 21.29168,24l298.0835,0c11.79914,0 21.29168,-10.7 21.29168,-24l0,-40l-113.55562,-0.11c-14.30091,-0.31 -27.12915,-9.28 -33.56101,-23.75zm147.11663,-302.24c0,-6.3 -2.21788,-12.4 -6.21007,-16.9l-86.8523,-98c-3.99219,-4.5 -9.40382,-7 -15.08161,-7l-5.41163,0l0,128l113.55562,0l0,-6.1zm-85.16671,225.06l0,69.04l61.2047,0l143.43494,-162.78l-60.21996,-67.88l-144.41968,161.62zm248.88198,-179.63l-28.27357,-31.87c-8.8183,-9.94 -23.12809,-9.94 -31.94639,0l-24.17493,27.25l60.21996,67.88l24.17493,-27.25c8.82718,-9.94 8.82718,-26.07 0,-36.01z"
                  class="fa-primary"></path>
              </g>
            </svg>
          </div>
        </button>
      </button>
      <button class="button" type="button" name="button" onclick="moreButtonTimeoutFunction()"> more
        <div class="svg-sizing">
          <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <g class="fa-group">
              <path fill="currentColor"
                d="m98.61561,139l325.6688,0c22.52975,0 33.79463,35.90557 17.8466,56.94791l-162.77112,214.93244c-9.87259,13.02621 -25.94718,13.02621 -35.81977,0l-162.77112,-214.93244c-15.94803,-21.04234 -4.68315,-56.94791 17.8466,-56.94791z"
                class="fa-primary"></path>
            </g>
          </svg>
        </div>
      </button>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
