<%- include('partials/header') %>

<div class="container">
  <div class="main-content">

    <div class="headline-container">
      <h1><i class="fas fa-file-contract fa-primary"></i> About</h1>
    </div>

    <div class="content-container about">

  <p>
    <strong>Welcome to my secrets!</strong>🤐
  </p>

  <p>
This project took me a lot of effort and time, like a lot! <br>
Although I found a lot of useful info in the Udemy Q&A section (some I implemented as well),
many hours of research needed to do how to fix one bug after another. Luckily for google,
stackoverflow (and some really helpful people on there) I can say I succeeded with this project!
The research for solutions many times were just a basic trial an error, which although can be really time consuming should
not be an underestimated method. There is a lot of joy in finding the right answer by yourself!
</p>

<p>
  Anyways, enough of me, let’s get to business and list what I learnt during this project.
  This could be very useful for me and others in the future. If you here from Udemy, I welcome you 🙋‍♂️! You are at the right spot to find the answers you seek (hopefully); I will list the most common issues others and I encountered trying to make this webapp working online. Now here is my github repo`s link you feel free to check my code. If you go into the theme.js or the styles.css I’m sure you will find a lot of clashes and a lot of “not so elegant” solutions. I`m a rookie, I own them! ahahah
</p>

<p><strong>Contents will be the followings:</strong> <br>(feel free to click and jump to the section you need) </p>

<p>
<strong>Functionality-related </strong> <br>
1. How to make to app ready to be uploaded to Heroku   <br>
2. Upload to Heroku via Github <br>
3. Suggestion for the mongoDB name/password  <br>
4. Setting up Google/Facebook AOuth2 <br>
5. Multiple Facebook/Google accounts issue  <br>
6. Users with multiple secret and "empty" secrets<br>
7. Delete a secret <br>
8. Other issues <br>
<br>
<strong>Design-related </strong> <br>
1. Design and navbar <br>
2. SVGs <br>
3. Flexbox <br>
4. Animations <br>
5. Delays <br>
6. Swipe <br>
7. Desktop/mobile version @media <br>
8. Safari (the pain!)
<br>
X. Few more words
</p>

<br>
<br>

<p><strong>How to make to app ready to be uploaded to Heroku</strong></p>
<p>1. Before we are pushing anything anywhere, we need change it from localhost where the app will listen.</p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/5483c563a506b4b1d9c1190c5e444f59.js"></script>
</div>
<p>2.Change from localDB to onlineDB</p>
<div class="code">
<script src="https://gist.github.com/ritualjoint/e34b7e663c27f725ac8b5375f015db37.js"></script>
</div>
<p>3.	Add Procfile for Heroku so know what to do the project. <br> In CLI cd into folder, touch Procfile, start Procfile, write node app.js, save.</p>
<p>4. Edit packadge.json. Add extra lines:</p>
<div class="code">
<script src="https://gist.github.com/ritualjoint/1e4a67c48064a5924d8a5a6dc1b2c0ba.js"></script>
</div>
<p>5. Add .gitignore-file so you won’t push unnecessary stuffs online such: /node_modules, npm-debug.log, DS_Store, /*.env ... </p>
<p>6. Add environmental variables to Heroku.<br> Create empty app, go settings, reveal config vars. Add the environmental variables there. </p>
<br>
<p><strong>Upload App to Heroku via Github</strong></p>
<p>The app should be ready to be uploaded. What I like to do is to push it to GitHub
  and in Heroku I connect to my GitHub repo and enable automatic deployments.
  It massively helps if you doing trial and error. Some point I had over 100+ commits doing trial and error, lol.
  Love it, only takes like 30 sec to redeploy the app.</p>
<p>1.	Create empty repo on github. <br>
2.	In CLI cd to the project folder<br>
3.	Git add . <br>
4.	Git commit -m “initial commit” <br>
5.	Git push https:// github.com/ YOURACCOUNT/ YOURREPO.git <br>
6.	Go Heroku and like I said, find the repo and deploy it. </p>
<br>
<p><strong>Suggestion for the mongoDB name/password</strong></p>
<p>I have a suggestion to make regarding the mongoDB password in the app.js.
  I rather used the environmental variable to store this info.
  I don`t think it’s a good idea to have it online exposed especially if you use the same or similar password to all the sites.😬 So instead: </p>
<div class="code">
<script src="https://gist.github.com/ritualjoint/74c48eeccbd29c00c9147d1e0b99c51b.js"></script>
</div>
<br>
<p><strong>Google/Facebook AOuth2 settings</strong></p>
<p>Now the project is online, but obviously the Google and
  Facebook AOuth won`t work. Setting up the Facebook API especially was a biatch.🤬 I spent tons of time to make it happen.
Here is my app`s setting for both google and facebook API.I think it helps a lot to check it over to yours as it does matter
if https, http, www or just url without all these.<br>
<a href="https://www.dropbox.com/s/9jrni6o3u22bvpz/googleAuth-settings.png?dl=0"><strong>google</strong>   &nbsp;
</a> <a href="https://www.dropbox.com/s/sbg3w9bgj6tlebc/fbAuth1-settings.png?dl=0"><strong>facebook1</strong></a>   &nbsp;
<a href="https://www.dropbox.com/s/kdofyacio8yivbb/fbAuth2-settings.png?dl=0"><strong>facebook2</strong></a><br></p>

<p>The call back URL will need to be changed in app.js according to whatever your app`s url is.</p>
<div class="code">
<script src="https://gist.github.com/ritualjoint/ae8f943e9e2356ab32ba61496c88b07d.js"></script>
</div>
<br>
<p><strong>Multiple Facebook/Google accounts issue</strong></p>
<p>Multiple Facebook/Google accounts unable to register just yet to the website. It will return and interval server error message.
  I spent some time to understand the issue and now I sort of getting it. The problem is the schema and the how mongoDB handling our collection. </p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/a6505b84d7be6effb4200807b096514d.js"></script>
</div>
<p>
If a new user register with email and password the username and password will be added to the DB. But if we are using Google/Facebook to log in the username will be empty or null.
Now mondoDB won’t be happy about it as it will try to skip the partially indexed collections or even refuse to store it.
I`m not 100% sure for the reason for it, but I read something about that it will take memory, so only let one NULL value to be existed in the db.
You can read on it on Spare Indexes, Partial Indexes and Memory Usage in Index Builds. </p>
<p>
I was not completely competent how to overcome this issue and how to change the db`s setup.
There must be a way that you are able to set up mondoDB that this NULL or empty string wouldn`t create this issue. I tried a few things,
I created a random number 1-10000 and made it to a string and every time someone used Google/Facebook Auoth to log in I just popped into the field username:
 “googlelogin” +  randomNumber so the field won`t be empty. It worked, but I only could log in with two accounts. Gosh!🤣 The reason is that the random number will remained the same unless
I restarted the app.js.
Of course, it could overcome this adding the const randomNumber somewhere else, so it resets or what, but while I was trying to fix it,
I figured a not elegant, but actually an easy solution for the whole problem. I anyway need to store the googleId or facebookId, so why don`t I just add it to the username section too.
It will be unique and mondoDB won`t have NULL or empty string indexes. It`s working perfectly fine! Not an elegant solution but working!
</p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/60c391a4c1a661b4e74cf72e1be58436.js"></script>
</div>
<br>

<p><strong>Users with multiple secret and "empty" secrets</strong></p>
<p>At this point every user only can have one secret. If you try to add a new one it will simply overwrite it.
  If you change the schema from String to Array is a good start. Now we can push the new secret to the array,
  the only problem will be that it won`t occur as separate secrets. On the html site in the ejs we need to call a for each method.
</p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/f154445b1d2a870997e6c93d51f446e2.js"></script>
</div>
<p>Now that we are working with an array, thing have changed. We don`t want to display empty or NULL secrets is someone just push submit without
  actually putting anything in the input box. It just doesn`t look good on the screen later on.
  We can do this by either not letting it the app to post it and save it to the array, or just simple don`t let it display it. The issue is:</p>
  <div class="code">
    <script src="https://gist.github.com/ritualjoint/56878dc07805f91328dfa2c7e924d504.js"></script>
  </div>
<p>Now we can have multiple secrets displayed as separate html without having gaps spamming the screen ruining the flow of texts. </p>
<br>

<p><strong>Delete a secret, not the whole array</strong></p>
<p>We need to be able to separate the specific secret from the array. Splice and resave array! </p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/6cd80cb0aa5aea18278e20c9970fa16d.js"></script>
</div>
<br>
<p><strong>Other issues</strong></p>
<p>I covered the basic functions of the app, we have a lot of issues that can arouse still.
   What if someone try to login without actually putting anything in the input box? What if someone will try to log in while already been logged in. Registering twice the same? Unauthorized?
  Bad requests? Etc.  There are not that hard to overcome by these, so I won`t cover it here. I created a few separate ejs files to answer most of this sort of requests,
  so the user knows what’s going on or in some cases I just simply redirect them to the login page. Not a biggie. Note here, if passport is setup with failureFlash: true
  it will pop up with 400 and 401 errors as flash massages. I just redirect 😉. You could create another .ejs explaining the problem to the user that the
  username and or the password wasn`t right or the request contained empty string or NULL though. </p>
<p>
  This is just an example, its kinda funny (sort of; annoying af too!) how the issues can spiral. You fix one thing, but you created an other.
  Lets change this, but now this or that not the right place, or just not working. boo! It`s a lot to do with learning this. I guess once I`ll be more familiar how
  to achieve certain things a lot will be a routine based on exparinace. Being new to this, sometimes first you put the plate in the microvawe and once it`s ready you take it out
  putting the food on top and expecting the meal to be worm. I had a lot of like: 😐 Hmm, yeah looking back, my expectations and the logic behing it were so off or even plain stupid!
  Daddy chill!
</p>
<br>
<p><strong>Design and Navbar</strong></p>
<p>I liked the app but not the design. This go from buttons to buttons just won’t cut it in real life.
  Press here, press there, ain`t nobody got time for that!
I follow a few cool guys on YouTube and I came across a simple navbar design which doesn’t include bootsrap.
<a href="https://www.youtube.com/c/Fireship/about"><strong>Fireship.io</strong></a>🔥 <== Make sure you check the dude out, really helpful stuff!
</p>
<br>
<p><strong>SVGs</strong></p>
<p>I pulled off the guy`s (I meantioned above) GitHub repo and started to play around with the codes.
  Soon enough I learnt that I need to overcome a lot of issues. The design and the animations were awesome,
  but I don’t have FontAwesome-Pro neither 99$ a year to change the icons to the set I think would be suitable for the app.
  I started to play around with random Svg`s. Mostly from FontAwesome, but some from somewhere else and again some of it
  needed a touch with Photoshop. Once it was done, I found a great place edit and copy the SVG`s path so I could implement
  it in the navbar. <a href="https://editor.method.ac/"><strong>Method Draw Vector Editor</strong></a> <== Totally the best so far!
  So started to add these paths to the navbar, looked cool.😎
</p>
<br>
<p><strong>Flexbox</strong></p>
<p>Fireship.io didn`t use Bootsrap, so i started to follow his path. I created my own little divs to hold the content.
  Its very easy to be honest as in this case the content is simple.
  If I need to do a grid or something more complex I probably would have gone with bootsrap.
  But I think now I prefer this method as in the past I kinda had problems with overwriting classes,
  obviously to use BS properly there is a learning curve to it. Now I want to understand the basics,
  not figuring out what was coded in the SCSS. Better to learn from the ground up I think. Don`t get me wrong
i have nothing against BS they are handy as it can come, just occasianly i got frustrated that i couldn`t right away
do what i wanted and had to invest more time into research. Either way it ended up being a lot of research so im not sure if i gained anything more than learning pure CSS.
</p>
<br>
<p><strong>Animations</strong></p>
<p>I really like the animation of the original navbar but started to play around and find other options to manipulate things.
   I came up with the key🔑 rotating while the navbar opens, now I’m pretty proud of it, I think looks super dope. While I was looking on it,
  I started to think maybe there are other ways I could implement more this little extras for the app. </p>
  <p>I realised would be a great touch to reuse some of the svg and if not necessary to have svgs just use font-awesome basic fa fab classes … .
    That’s how I came up with the rotating icons once you click on the button. </p>
<br>
    <p><strong>Delays</strong></p>
<p>The buttons looks cool and stuff, but if you hit submit it will redirect you right away so wont wait the animation to finish.
   I overcome on this by adding on the html side onClick()-functions which are stored in the theme.js. It took a bit of a research how to do this, but ended up solving the issue.</p>

<div class="code">
  <script src="https://gist.github.com/ritualjoint/2c17b67ad71b7a237859f8308dbf0b52.js"></script>
</div>

<p>In many cases (login/register/delete) we dealing with forms. The button delay could be applied here to,
  but i found a suggestion online from Stackoverflow to set up an eventlistener for the forms and create the delay that way. It makes sense as pressung the button
wouldn`t just redirest you to an href you need to submit the input of the forms. As the html side the action and method already given, the previous button-delay functions would just
make thing more complicated. </p>

<div class="code">
  <script src="https://gist.github.com/ritualjoint/f1ec8ab8f2e1ae0cf791044bd171b4b2.js"></script>
</div>

<p>I played around with the app on mobile and I didn`t like how it reacts to click on the navbar as it just was way too quick.
  Kinda missed the confirmation of my tap. So I added delay there too (only a few ms) and scale the content of the navbar before its redirect. It looks cool I think, it a nice touch.
In order to acive this, i had to setup another function. It`s add an eventlistener to certain ID`s
and when clicked add a new CSS-class with a timout. On the CSS side the class set to scale the content. </p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/3895759f22875f70d2523c26f3ad9bec.js"></script>
</div>
<br>

<p><strong>Slide</strong></p>
<p>It’s kinda easy to adding sliding effect on both the main content div and the navbar.
I also added z-index to the navbar so wont bother the main-content on small screen or vica versa.
</p>
<div class="code">
<script src="https://gist.github.com/ritualjoint/c28e2b994df099c21fc29fdd8719de82.js"></script>
</div>
<br>

<p><strong>Swipe</strong></p>
<p>App was looking good, but I didn’t want no click on navbar to open and close it.
  Pretty much everyone uses mobiles first nowdays, no-swipe = no-fun. I started to dig how to implement this.
  Now its very complicated if I wanted to do it from scratch, I ended up chosing hammer.js to do the labour for me.
  Although I didn`t know what I’m doing, but with help of their CodePen I was able to figure it out myself.
  It introduced a number of issues for me, as the navbar only opened never closed and many others but eventually I figured an other way out.
  Now its slides, and how it slides! Lol</p>
<div class="code">
  <script src="https://gist.github.com/ritualjoint/30b4fb316c94159ec6025bd6649d08c4.js"></script>
</div>
<br>

<p><strong>Mobile/Desktop version with @media query</strong></p>
<p>It was a pain but regarding. I’m sure many of my codes are not necessary in
  places or even duplicates.🙈 I think if I would start over, I would right away start to focus on mobile before anything else.
  Or start writing the css in the way that I dissect the codes when to apply certan formatting. Once it was a messy CSS, it was really hard to dig out what I need to include in
@media (max-width: 600px)
or
@media (min-width: 600px)

There were a tons of duplicates, useless classes, and even now If I read it, I defo find something stupid.
What I learnt here is that maybe I was rushing to sort out one thing after another, creating mess is never the way forward. Have a tidy code will help a lot when comes to find answers.
It’s like ladies-bag… Impossible to find anything.😋
</p>
<br>
<p><strong>Safari</strong></p>
<p>At this point the app is fully functional. It works both PC/Mobile and responsively. Mayday! Nope, i just lied. Its pretty janky on Safari at the moment.
The problem is that the CSS in regards to transitions is worded differently for Safari and Chrome. It means the animation will flikker and just look complete garbage on iMachines.
This is something i not yet able to fix, but i have to as the half of the population uses it. My codes are fine, but i need to add a few Webkits for it to work nice on them too.
I tried a few hours, but couln`t yet make it to happen and as i dont have any iMachine at home i need to yet figure out how to fix this. I think what im going to do is
emulate the issue online and ask someone more clever. Oc trial and error eventually will crack it, but after a few hours oc adding and removing Webkits i got pissed off lol.
It will get fixed soon! Promise!</p>
<br>

<p><strong>Just a few more words</strong></p>
<p>I had a lot fun (and frustration) creating this app. Some point I wasn`t even able to sleep as I tried to figure out where my code doesn`t work. I think it’s sometimes better just to leave it for a day. When you tired of trying, don’t need try anymore; your efforts will be just purely wasted! Sometimes I spent 4 hours to figure out I am missing a fcking comma somewhere! I think I somehow need to find the balance, instead of stare into nothing (not even the screen really), with no braincells anymore, just time to stand up and do something else. Word!
<br><br>
If you still here and reading my little struggle-diary, hey its very nice of you!
I hope you enjoyed it, see you next time hopefully not in the too distant future!
<br><br>
Goodbye! 😚
</p>



      <div class="button-container">
        <button class="button" type="button" name="button" onclick="homeButtonTimeoutFunction()"> home
          <div class="svg-sizing">
            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <g class="fa-group">
                <path fill="currentColor"
                  d="m14.99992,179.34469c0,91.31672 73.56533,165.34281 164.31251,165.34281c10.47492,0 20.71645,-0.9977 30.64708,-2.88318l22.41745,25.37839a-22.40532,22.54594 0 0 1 16.74681,7.5673l34.75116,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l37.34375,0l0,37.57813c0,12.45245 10.03147,22.54688 22.40625,22.54688l104.56251,0c12.37479,0 22.40625,-10.09442 22.40625,-22.54688l0,-73.33277c0,-5.97962 -2.36106,-11.71498 -6.56223,-15.94346l-151.05735,-152.0054c5.34296,-16.30327 8.24457,-33.72355 8.24457,-51.82775c0,-91.31672 -73.56439,-165.34281 -164.31158,-165.34375c-91.01513,-0.00094 -164.31344,73.75741 -164.31344,165.34469zm164.31251,-45.09469c0,24.9049 -20.06293,45.09375 -44.8125,45.09375s-44.8125,-20.18885 -44.8125,-45.09375s20.06293,-45.09375 44.8125,-45.09375s44.8125,20.18885 44.8125,45.09375z"
                  class="fa-primary"></path>
              </g>
            </svg>
          </div>
        </button>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
