<%- include('partials/header') %>

<div class="container">
<div class="main-content">
<h1><i class="fas fa-sign-out-alt fa-primary"></i> Logout</h1>
<p>Hey Hun!</p> <p> Do you really wan`t to delete your account?</p>
<p>This will pernantly delete all you account details,</p> <p>including all your shared Secrets.</p>

  <button class="button" type="submit" onclick="location.href='/delete2'">delete
    <div class="enter">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="sign-ou"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
      >
        <g class="fa-group fa-primary">
          <path
            fill="currentColor"
            d="m32,464a48,48 0 0 0 48,48l288,0a48,48 0 0 0 48,-48l0,-336l-384,0l0,336zm272,-256a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm-96,0a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm-96,0a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm320,-176l-120,0l-9.4,-18.7a24,24 0 0 0 -21.5,-13.3l-114.3,0a23.72,23.72 0 0 0 -21.4,13.3l-9.4,18.7l-120,0a16,16 0 0 0 -16,16l0,32a16,16 0 0 0 16,16l416,0a16,16 0 0 0 16,-16l0,-32a16,16 0 0 0 -16,-16z"
          ></path>
        </g>
      </svg>
</div>
  </button>



<%- include('partials/footer') %>
