<%- include('partials/header') %>

<div class="container">
  <div class="main-content">

    <div class="headline-container">
      <h1> <i class="fas fa-user-secret fa-primary"></i> My Secrets</h1>
    </div>

    <div class="content-container extra">
      <p>My shares</p>
      <% if(userSecrets.length != 0){ %>

      <form action="/mysecrets/delete" method="POST">
          <select class="form" name=" secret">
            <% userSecrets.forEach(function(secret){ %>
            <option value="<%= secret %>"><%= secret %></option>
            <% }); %>
          </select>
          <div class="button-container">
            <button type="submit" class="button">Delete Secret
                <div class="svg-sizing">
                  <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="sign-ou" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x">
                    <g class="fa-group fa-primary">
                      <path fill="currentColor"
                        d="m32,464a48,48 0 0 0 48,48l288,0a48,48 0 0 0 48,-48l0,-336l-384,0l0,336zm272,-256a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm-96,0a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm-96,0a16,16 0 0 1 32,0l0,224a16,16 0 0 1 -32,0l0,-224zm320,-176l-120,0l-9.4,-18.7a24,24 0 0 0 -21.5,-13.3l-114.3,0a23.72,23.72 0 0 0 -21.4,13.3l-9.4,18.7l-120,0a16,16 0 0 0 -16,16l0,32a16,16 0 0 0 16,16l416,0a16,16 0 0 0 16,-16l0,-32a16,16 0 0 0 -16,-16z">
                      </path>
                    </g>
                  </svg>
                </div>
              </button>
          </div>
      </form>
      <%  } %>

      <% if(userSecrets.length == [] ){ %>
      <p>You haven`t shared any of your secrets yet. <br> This is the perfect time to do so!</p>
      <%  } %>

      <p>Share a secret of yours!</p>
      <form action="/mysecrets" method="POST">
        <input type="text" class="form" name="secret" placeholder="What's your secret?">
        <div class="button-container">
          <button type="submit" class="button">share it
            <div class="svg-sizing">
              <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <g class="fa-group">
                  <path fill="currentColor"
                    d="m352,320c-22.608,0 -43.387,7.819 -59.79,20.895l-102.486,-64.054a96.551,96.551 0 0 0 0,-41.683l102.486,-64.054c16.403,13.077 37.182,20.896 59.79,20.896c53.019,0 96,-42.981 96,-96s-42.981,-96 -96,-96s-96,42.981 -96,96c0,7.158 0.79,14.13 2.276,20.841l-102.486,64.054c-16.403,-13.076 -37.182,-20.895 -59.79,-20.895c-53.019,0 -96,42.981 -96,96s42.981,96 96,96c22.608,0 43.387,-7.819 59.79,-20.895l102.486,64.054a96.301,96.301 0 0 0 -2.276,20.841c0,53.019 42.981,96 96,96s96,-42.981 96,-96s-42.981,-96 -96,-96z"
                    class="fa-primary"></path>
                </g>
              </svg>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
