<%- include('partials/header') %>

<div class="container">
  <div class="main-content">

    <div class="headline-container">
      <h1><i class="fas fa-user-secret fa-primary"></i> My secrets</h1>
    </div>

    <div class="content-container">
      <p>Hey Hun!</p>
      <p> To get access to your secrets you must be logged in.<br> Do you want to login?</p>

      <div class="button-container">
        <button class="button" type="submit" onclick="loginButtonTimeoutFunction()">login
          <div class="svg-sizing">
            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="sign-ou" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x">
              <g class="fa-group">
                <path fill="currentColor"
                  d="m503.691,189.836l-176.004,-151.985c-15.406,-13.305 -39.687,-2.504 -39.687,18.164l0,80.053c-160.629,1.839 -288,34.032 -288,186.258c0,61.441 39.581,122.309 83.333,154.132c13.653,9.931 33.111,-2.533 28.077,-18.631c-45.344,-145.013 21.507,-183.511 176.59,-185.742l0,87.915c0,20.7 24.3,31.453 39.687,18.164l176.004,-152c11.071,-9.562 11.086,-26.753 0,-36.328z"
                  class="fa-primary"></path>
              </g>
            </svg>
          </div>
        </button>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
