<%- include('partials/header') %>

<div class="container">
  <div class="main-content">

    <div class="headline-container">
      <h1>This is our secret! <i class="fas fa-smile-wink fa-primary"></i></h1>
    </div>

    <div class="content-container">
      <% secrets.forEach(function(user){ %>
      <% user.secret.forEach(function(secret){ %>
      <p><%= secret %></p>
      <%  }); %>
      <% }); %>
      <hr>
      <p>Go to &nbsp;<a href="/mysecrets"><i class="fas fa-user-secret fa-primary"></i> MySecrets </a> tab to add or delete your share!</p>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
