/***** :root ergo html targeted *****/
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-01);
  }
}

@keyframes slideInFromtop {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/***** html-tag targeted *****/
body {
  color: black;
  margin: 0;
  padding: 0;
  background-image: url(wallpaper.jpg);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #FB9300;
}

body::-webkit-scrollbar-thumb {
  background: #FB9300;
}

hr {
    border-top: dotted 10px;
    width: 20%;
    border-bottom: none;
    border-left: 0;
    border-right: 0;
    margin-top: 4rem ;
    margin-bottom: 1rem;
}

hr:hover {
  -webkit-transition: 600ms linear;
  width: 50%
}

a {
  text-decoration: none;
  color: inherit;
}


.scale {
    transform: scale(1.1);
    transition: var(--transition-speed);
}
/***** color and transition speed *****/

/*font-fontawesome svg and <i> tags colors */
.fa-primary {
  color: #FB9300;
}

.fa-secondary {
  color: #FB9300;
}
/*transitions*/
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/***** id, so first nav-link wont be grayscaled i know its a lame overwrite *****/
#logo-overwrite:not(.svg){
  color: var(--text-secondary);
  filter: grayscale(0%) opacity(1);
  outline-style: groove;
}

/***** classes *****/

.navbar {
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  top: 0;
  height: 100vh;
    z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}


.container {
  animation: 0.3s ease-out 0s 1 slideInFromtop;

    display: flex;
    margin: auto;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    opacity: 80%;
    box-shadow: 6px 15px 30px 10px;
    border-radius: 10px;
  }

  .main-content {
    text-align: center;
    margin: auto;.
    padding-right: min(50px, 5%);
    padding-right: max(15px, 5%);
    padding-right: clamp(15px, 5%, 50px);
    padding-left: min(50px, 5%);
    padding-left: max(15px, 5%);
    padding-left: ;: clamp(15px, 5%, 50px);
    display: inline-block;
  }

.headline-container{
    margin: auto;
    text-align: center;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.button-container{
  display: inline-block;
}



/* buttons hover and animate effect delay in themescript */
.button {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 15px;
   color: var(--bg-secondary);
   font-family: 'Open Sans';
   background-color: var(--text-primary);
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   border-radius: 15px;
   border: 0px;
   width: auto;
   margin-left: 1rem;
   margin-right: 1rem;
}

.button:hover {
   background: var(--text-secondary);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 15px;
   text-decoration: none;
}

.button:focus {
  background: var(--text-secondary);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  text-decoration: none;
}

.button:focus svg {
  transform: rotate(+360deg);
  transition-duration: 900ms;
}

.nav-link svg {
  transform: rotate(+360deg);
  transition-duration: 500ms;
}

.svg-sizing {
margin-bottom: 0rem;
display: inline-block;
position: relative;
}

.secret-text {
  background-color: var(--bg-primary);
    margin-bottom: auto;
  }

  .expand-nav .logo-text {
    left: 0px;
  }

/***** theme presets *****/
.dark {
--text-primary: #b6b6b6;
--text-secondary: #ececec;
--bg-primary: #23232e;
--bg-secondary: #141418;
}

.light {
--text-primary: #1f1f1f;
--text-secondary: #000000;
--bg-primary: #ffffff;
--bg-secondary: #e4e4e4;
}

.solar {
--text-primary: #576e75;
--text-secondary: #35535c;
--bg-primary: #fdf6e3;
--bg-secondary: #f5e5b8;
}

.theme-icon {
display: none;
}

.dark #darkIcon {
display: block;
}

.light #lightIcon {
display: block;
}

.solar #solarIcon {
display: block;
}

 /***** media queries:  *****/

/* Small screens */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 22px;
  }

  .navbar {
    width: 3rem;
  }

.nav-link svg {
  width: 2rem;
  min-width: 1rem;
  max-width: 1.5rem;
  margin: 0 1rem;
}

.nav-link {
  height: 4rem;
}


.link-text {
  display: inline;
  margin-left: 1rem;
  font-size: 1rem;
}

.container {
    margin: 1rem 1rem 1rem auto;
    width: 75%
}

.button {
     font-size: 16px;
     padding-bottom: 8px;
     padding-left: 8px;
     padding-right: 8px;
     margin-bottom: 1rem;
     margin-top: 1rem;
}

.button-container{
  display: inline-block;
  margin-bottom: 2rem;
}

.svg-sizing {
    width: 20px;
    top: 5px;
}

.content-container{
  padding-top: 1rem;
}

.content-container.about p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.extra{
  padding-top: 0rem;
}

.form {
  font-size: 16px;
  padding: 0.5rem;
  max-width: 85%;
}

input.form {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

select.form{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* navbar swipe effect :) */
  .expand-nav {
    width: 10rem;
  }

  .expand-nav .logo svg {
    transform: rotate(-280deg);
    margin-left: 7.5rem;
  }

  .expand-nav-logo-text {
    left: 0px;
  }

  .nav-item:last-child {
    margin: auto;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {

h1 {
  font-size: 32px;
}

p {
  font-size: 25px;
  line-height: 4rem;
  word-break: break-normal;
}

.content-container.about p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: justify;
}

  .navbar {
    width: 6rem;
  }

  .navbar:hover {
    width: 14rem;
  }

  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .nav-link {
    height: 5rem;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .link-text {
      display: inline;
      margin-left: 1rem;
    }

    .navbar:hover .logo svg {
        transform: rotate(-280deg);
        margin-left: 10rem;
      }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  /* navbar swipe effect :) */
    .expand-nav {
      width: 14rem;
    }

    .expand-nav .logo svg {
      transform: rotate(-280deg);
      margin-left: 10rem;
    }

    .expand-nav-logo-text {
      left: 0px;
    }




.container {
    margin: 4rem auto;
    width: 50%
}

.button {
     font-size: 25px;
     padding-bottom: 14px;
     padding-left: 10px;
     padding-right: 10px;
     margin-bottom: 1rem;
     margin-top: 1rem;
}

.button-container{
  display: inline-block;

  margin-bottom: 3rem;
}

.svg-sizing {
    width: 2rem;
    top: 10px;
}

.headline-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.extra{
  padding-top: 0rem;
}

.form {
  font-size: 24px;
  padding: 0.5rem;
  max-width: 80%;
}

input.form {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

select.form{

  margin-bottom: 1rem;
}

}
